* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden; /* Evita barras de desplazamiento si las partículas tocan el borde */
    background: #1a1a1a; /* Fondo oscuro para resaltar las partículas */
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}